@import '__variables';

$transition-speed: 140ms;

.TextInput {
  &__label {
    color: $color-text;
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    border-left: 5px solid $color-block-border;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    font-size: 1.3rem;

    @media (prefers-color-scheme: dark) {
      color: $color-link-hover;
    }
    @at-root .theme-dark #{&} {
      color: $color-link-hover;
    }
  }

  &__input {
    color: $color-text-gray;
    font-size: 1.7rem;
    margin: 0.5rem 0 1rem;
    display: block;
    text-align: left;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    background: $color-white;
    transition: all $transition-speed ease-in;
    border: 1px solid $color-block-border;
    width: calc(100% - 3rem);

    &:hover,
    &:focus {
      border-color: $color-block-border;
      outline: none;
      box-shadow: 1px 1px 3px $color-block-border;
    }
  }

  &__note {
    color: $color-text-gray;
    font-size: 0.8rem;
    margin: 1rem 0 0;
    display: block;
    text-align: left;
  }
}
