@import '__variables';

.Footer {
  display: block;
  padding: 20px 10px;
  margin: 20px auto 0;
  text-align: center;
  background-color: #dfdfdf;

  @media (prefers-color-scheme: dark) {
    background-color: #161616;
  }
  @at-root .theme-dark #{&} {
    background-color: #161616;
  }

  &__faq {
    display: block;
    padding: 1em 2em 2em;
    border-bottom: 1px solid #999;

    h3 {
      font-size: 1.3em;
      font-weight: 500;
      line-height: 1.5em;
      margin-bottom: 1em;
    }
  }

  &__faq-items {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    @media #{$bigger-screen} {
      @include flex;
      flex-wrap: wrap;
      width: $max-width;
    }
  }

  &__faq-item {
    display: block;
    margin: 1em 1em 2em;
    text-align: left;
    line-height: 1.4em;
    font-size: 0.9em;
    text-align: center;

    @media #{$bigger-screen} {
      margin: 1em;
      width: 45%;
    }

    h4 {
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 0.2em;
    }
  }

  &__links {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    margin-top: 1.5em;

    a {
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: $color-menu-background-hover;
      }
      @at-root .theme-dark #{&} {
        color: $color-menu-background-hover;
      }

      &:hover,
      &:focus {
        @media (prefers-color-scheme: dark) {
          color: #f3f3f3;
        }
        @at-root .theme-dark #{&} {
          color: #f3f3f3;
        }
      }
    }
  }
}
