$color-background: #efefef;
$color-text: #222;
$color-text-button: #222;
$color-text-gray: #333;
$color-white: #fff;
$color-light-gray: #999;

$color-link: #222;
$color-link-hover: #555;

$color-menu-text: #fff;
$color-menu-background: #444;
$color-menu-text-hover: #333;
$color-menu-background-hover: #555;

$color-background-red: #a02200;
$color-background-green: #00a022;
$color-background-blue: #2f74a0;

$color-block-background: #fff;
$color-block-border: #444;
$color-block-border-hover: #555;

$color-input-text: #333;
$color-input-background: #fff;

$break-xsmall: 400px;
$break-small: 600px;
$max-width: 1024px;
$min-width: 950px;

$medium-screen: 'only screen and (min-width : #{$break-xsmall})';
$bigger-screen: 'only screen and (min-width : #{$break-small})';

@mixin flex {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaced {
  @include flex;
  justify-content: space-between;
}

@mixin flex-end {
  @include flex;
  align-items: flex-end;
}
