name: Run Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .dvmrc
      - run: docker compose pull
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        continue-on-error: true
      - run: |
          cp .env.sample .env
          docker compose up -d
          make migrate-db
          make test
